version: "3"
services:
  traefik:
    image: traefik:2.0
    container_name: traefik
    command: {{ traefik_commands }}
    ports:
      - 80:80
      - 8888:8888
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  plex:
    image: linuxserver/plex
    container_name: plex
    environment:
      - PUID={{ default_container_puid }}
      - PGID={{ default_container_pgid }}
      - VERSION=docker
      - UMASK_SET={{ default_container_umask }}
    ports:
      - 32400:32400
      - 32400:32400/udp
      - 32469:32469
      - 32469:32469/udp
      - 5353:5353/udp
      - 1900:1900/udp
    volumes:
      - {{ media_volume_config_dir }}/plex:/config
      - {{ media_volume_media_dir }}:/media
      - /transcode
    restart: unless-stopped
  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID={{ default_container_puid }}
      - PGID={{ default_container_pgid }}
      - TZ={{ default_container_timezone }}
      - UMASK_SET={{ default_container_umask }}
    volumes:
      - {{ media_volume_config_dir }}/sonarr:/config
      - {{ media_volume_tv_dir }}:/tv
      - {{ media_volume_downloads_dir }}:/downloads
    ports:
      - {{ sonarr_webui_port }}:{{ sonarr_webui_port }}
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.port={{ sonarr_webui_port }}"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.docker.local`)"
  radarr:
    image: linuxserver/radarr
    container_name: radarr
    environment:
      - PUID={{ default_container_puid }}
      - PGID={{ default_container_pgid }}
      - TZ={{ default_container_timezone }}
      - UMASK_SET={{ default_container_umask }}
    volumes:
      - {{ media_volume_config_dir }}/radarr:/config
      - {{ media_volume_movies_dir }}:/movies
      - {{ media_volume_downloads_dir }}:/downloads
    ports:
      - {{ radarr_webui_port }}:{{ radarr_webui_port }}
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.port={{ radarr_webui_port }}"
      - "traefik.http.routers.radarr.rule=Host(`radarr.docker.local`)"
  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    environment:
      - PUID={{ default_container_puid }}
      - PGID={{ default_container_pgid }}
      - TZ={{ default_container_timezone }}
      - UMASK_SET={{ default_container_umask }}
      - WEBUI_PORT=8181
    volumes:
      - {{ media_volume_config_dir }}/qbittorrent:/config
      - {{ media_volume_downloads_dir }}:/downloads
    ports:
      - 6881:6881
      - 6881:6881/udp
      - {{ qbittorrent_webui_port }}:{{ qbittorrent_webui_port }}
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.port={{ qbittorrent_webui_port }}"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.docker.local`)"
      - "traefik.http.middlewares.qbittorrent.headers.customrequestheaders.X-Frame-Options=SAMEORIGIN"
  tinymediamanager:
    image: romancin/tinymediamanager
    container_name: tinymediamanager
    environment:
      - USER_ID={{ default_container_puid }}
      - GROUP_ID={{ default_container_pgid }}
      - UMASK={{ default_container_umask }}
      - TZ={{ default_container_timezone }}
    volumes:
      - {{ media_volume_config_dir }}/tinymediamanager:/config
      - {{ media_volume_media_dir }}:/media
    ports:
      - 5900:5900
      - 5800:5800
    restart: unless-stopped